/* common shared styles*/
body{
  font-family: 'Open Sans', sans-serif;
}
.text-primary{
  color: #FD6E0A;
}
.btn-primary{
  border-radius: 5px;
background: #FD6E0A;
border: 0;
font-size: 20px;

font-weight: 700;
padding: 15px 35px;
}


/* nav style*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title{
  color: var(--Dark-01, #181818);
/* font-family: Open Sans; */
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}


nav > ul{
  display: flex;
  align-items: center;


}

nav li{
  list-style: none;
  margin:50px ;
}
nav a{
  text-decoration: none;
  color: var(--Dark-02, #474747);

font-size: 20px;
;
font-weight: 400;
line-height: normal;
}

/* header relater style*/
.header{
background-color: #FFF8F3;
/* background-color: #b7825c; */
}
.banner{
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic{
  width: 500px;
}